{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% translate title %}
{% endblock %}

{% block content %}
        <h1>{% translate 'Статусы' %}</h1>
        <a class='nav-link' href="{% url 'status-create' %}">{% translate 'Создать статус' %}</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate 'ID' %}</th>
                    <th>{% translate 'Имя статуса' %}</th>
                    <th>{% translate 'Дата создания' %}</th>
                    <th>{% translate 'Управление статусами' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                <tr>
                    <td>{{ status.pk }}</td>
                    <td>{{ status.name }}</td>
                    <td>{{ status.created_at }}</td>
                    <td><a href={% url 'status-change' status.pk %}>{% translate 'Изменить' %}</a><br><a href={% url 'status-delete' status.pk %}>{% translate 'Удалить' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
