{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% translate title %}
{% endblock %}

{% block content %}
        <h1>{% translate 'Список пользователей' %}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate 'ID' %}</th>
                    <th>{% translate 'Имя пользователя' %}</th>
                    <th>{% translate 'Полное имя' %}</th>
                    <th>{% translate 'Дата регистрации' %}</th>
                    <th>{% translate 'Управление пользователем' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user }}</td>
                    <td>{{ user.date_joined }}</td>
                    {% if request.user.pk == user.pk %}
                    <td><a href={% url 'user-change' user.pk %}>{% translate 'Изменить' %}</a><br><a href={% url 'user-delete' user.pk %}>{% translate 'Удалить' %}</a></td>
                    {% else%}
                    <td><p>{% translate 'Недостаточно прав' %}</p></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
