{% extends 'main/base.html' %}
{% load i18n %}

{% block title %}
{% translate title %}
{% endblock %}

{% block content %}
        <h1>{% translate 'Список пользователей' %}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{% translate 'Имя пользователя' %}</th>
                    <th>{% translate 'Полное имя' %}</th>
                    <th>{% translate 'Дата регистрации' %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td><a href={% url 'users-update' user.id %}>{% translate 'Изменить' %}</a></td>
                    <td><a href={% url 'users-delete' user.id %}>{% translate 'Удалить' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}

